extends layout

block content 
	label username:
	input#username(type='text')
	br
	label password:
	input#password(type='text')
	br
	button#submit(type='submit') LOGIN



	script(src='/javascripts/checkuser.js')