extends layout

block content 
	h3 SIGN UP
	label username:
	input#username(type='text')
	br
	label password:
	input#password(type='text')
	br
	button#submit SIGN UP


	script(src='/javascripts/main.js')
